/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  /* .carousel {
    margin-bottom: 4rem;
  } */
  /* Since positioning the image, we need to help out the caption */
  /* .carousel-caption {
    bottom: 30rem;
    z-index: 10;
  } */
  
  /* Declare heights because of positioning of img element */
  /* .carousel-item {
    height: 32rem;
  }
   */
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel1-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  /* Category Start */
.category-card{
  padding: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.6s ease ;
}
.category-card a{
  text-decoration: none;
}
.category-card:hover{
  transform:translateY(-10px);
}

.category-card .category-card-img{
  max-height: 260px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.category-card .category-card-body{
  padding: 10px 16px;
}
.category-card .category-card-body h5{
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
/* Category End */