


  .radio-wrapper-21 label {
    background: #fff;
    padding: 11px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 0 0 1px #d8dee4;
    transition: all 0.2s ease;
  }
  .radio-wrapper-21 label:hover {
    background: #f5f6f8;
  }
  .radio-wrapper-21 input {
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .radio-wrapper-21 input:checked ~ label {
    box-shadow: 0 0 0 1.5px #675dff;
    color: #533afd;
  }
  .radio-wrapper-21 input:focus ~ label {
    box-shadow: 0 0 0 1.5px #675dff, 0 0 0 4px rgba(1, 150, 237, .36);
  }
  .radio-wrapper-21 input ~ label .title {
    font-weight: 600;
    margin-bottom: .5em;
  }
  .radio-wrapper-21 input ~ label .title,
  .radio-wrapper-21 input ~ label .description {
    display: block;
    font-size: 12px;
  }
  /* In your CSS file (e.g., app.css) */
  .border-right-style {
    border-right: 1px solid rgba(152, 145, 145, 0.644);
  }



